/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.container{
    display: flex;
}

.wrapper {
    flex-direction: column;
}

.content {
    display: flex;
}

.leftinfo {
    display: flex;
    flex-direction: column;
    background-color: bisque;
}


.rightinfo {
    display: flex;
    flex-direction:column;
    padding:10px 10px 10px 30px;

}

.infopanel {
    width: 250px;
}

    .infopanel p {
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .infopanel h6 {
        background-color: black;
        color: white;
        display: flex;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        color: bisque;
        font-family:Arial;
        font-weight: normal;
    }

.header {
    display: flex;
    flex-direction: row;
    background-color:gray;
    height:200px;
}

    .header img {
    border-radius: 50%;
}


.headerleft {
    display: flex;
    align-items: center;
    justify-content:center;
    padding:50px;
}

.headerright {
    display: flex;
    align-items: center;
    justify-content:center;
    width:100%;
}

    .headerright h1 {
        font-style: italic;
    }

.bananer {
    display: flex;
    flex-direction: row;
}

.bananer p {
    margin-left:0px;
}

.role {
    width: 50%;
    font-weight:bold;
    font-family: 'Palatino Linotype';
    font-size:larger;
}

.timeslot {
    width: 50%;
    font-weight: bold;
    text-align:right;
}

.leftside {
    width: 37%;
    font-weight: bold;
}

    .leftside img {
        margin-left: -20px;
        justify-content: left;
    }

.rightside {
    width: 63%;
}

    .rightside hr {
        border-top: 1px solid black;
    }

.profileleftside {
    width: 20%;
}

.profilerightside {
    width: 80%;
}

    .profilerightside hr {
        border-top: 1px solid black;
    }

.profileupperleftside {
    width: 30%;
}

    .profileupperleftside hr {
        border-top: 1px solid black;
        width: 20%;
        float: left;
        margin-bottom: 0;
    }

.profiledownleftside {
    width: 30%;
}

    .profiledownleftside hr {
        border-top: 1px solid black;
        width: 20%;
        float: left;
        margin-top: 0;
    }

.profiledownrightside {
    width: 70%;
}

    .profiledownrightside hr {
        border-top: 1px solid black;
        float: right;
        width: 90%;
      
    }

.vline {
    border-left: 1px solid black;

    position: relative;
}

.cvinfo{
    margin-top:20px;
}
    .cvinfo p {
        margin-left: 20px;
        margin-left: 20px;
    }

.info li{
    padding:13px;
}

h6 {
    font-family: 'Palatino Linotype';
    font-size:larger;
    font-weight: bold;
    color: rgb(128, 100, 49);
}

h2 {
    font-family: Arial;
}

h1{
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight:bold;
    font-size: 72px;
    color:bisque;
}

.assignmentin {
    padding-left: 20px;
    padding-right: 20px;
}

.assignmentin p {
    margin-left:0px;
}


.vline:before {
    width: 50px;
    content: url("../images/user.svg");
    background: #fff;
    /*background-image: url("../images/profile2.jpg");*/
    position: absolute;
    left: -20px;
    top: 35px;
    height: 50px;
}

.indexheader {
    display: flex;
    flex-direction: row;
    height: 70px;
}

.indexrightside h6{
    margin-left:30px;
}

.cvinfofocus {
    margin-top: 20px;
}

.cvinfofocus p {
    margin-left: 20px;
    margin-left: 20px;
}

.filterout {
    width: 50%;
    font-weight: bold;
    text-align: right;
}

.assignmentin.filter {
    margin-bottom: 10px;
}

.assignmentin.filter p {
    display: none;
    margin-bottom: 10px;
}

.assignmentin.filter .role {
    background: linear-gradient();
    opacity: 0.3;
}

.assignmentin.filter .timeslot {
    background: linear-gradient();
    opacity: 0.3;
}

.filtercheckteknik.filter span {
    background: linear-gradient();
    opacity: 0.3;
}



@media print {
    header, footer {
        display: none;
    }
    .filter{
        display:none;
    }

    .checkboxteknik {
        display: none;
    }

}

