@model DevsterCv.Models.AssignmentViewModel
@{
    ViewData["Title"] = "Create Assignment";
}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="~/css/list.css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    <h2 class="text-center">Lägg till <b>Uppdrag</b></h2>
                </div>
                <div class="col-sm-4">
                    <div class="search-box">

                    </div>
                </div>
            </div>
        </div>
        <form enctype="multipart/form-data" asp-action="Create">
            <div class="row">
                <input type="hidden" asp-for="Id" />
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Uppdrag" class="control-label"></label>
                        <input asp-for="Uppdrag" class="form-control" />
                        <span asp-validation-for="Uppdrag" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tid" class="control-label"></label>
                        <input asp-for="Tid" class="form-control" />
                        <span asp-validation-for="Tid" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Roll" class="control-label"></label>
                        <input asp-for="Roll" class="form-control" />
                        <span asp-validation-for="Roll" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Teknik" class="control-label"></label>
                        <input asp-for="Teknik" class="form-control" />
                        <span asp-validation-for="Teknik" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Beskrivning" class="control-label"></label>
                        <textarea asp-for="Beskrivning" class="form-control" rows="5" cols="40"></textarea>
                        <span asp-validation-for="Beskrivning" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Anställd</label>
                        <select asp-for="SelectedEmployeeId" asp-items="@(new SelectList(Model.Employees,"Key","Value","Selected"))">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-check">

                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Focus" /> @Html.DisplayNameFor(model => model.Focus)
                            <span asp-validation-for="Focus" class="text-danger"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-primary btn-sm">Tillbaka till lista</a>
            </div>
        </form>

    </div>
</div>

