
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="indexheader">

</div>
<div class="content">
    <div class="rightinfo">
        <div class="cvinfo">
            <div class="bananer">
                <div class="indexleftside">
                    <img src="~/images/sustainit.png" height="50" width="100" />

                </div>
                <div class="indexrightside">
                    <h2>SustainItCV administrerar cv</h2>

                    <p>Med SustainItCV skapar du snabbt och enkelt skapa kompletta CV:n. SustainItCV skapar färdiga PDF-filer som kan e-postas, skrivas ut eller sparas.</p> 
                    <ul>
                        <li>För att se en anställds cv välj personen i rullistan i headern</li>
                        <li>Filtrera innehåll med hjälp av checkboxar</li>
                        <li>Koppla tekniker & Verktyg med anställd</li>
                        <li>Lägg till Uppdrag för en anställd</li>
                        <li>För att skriva ut ett cv. Högerklicka och välj skriv ut eller ctrl + p</li>

                    </ul>
                    <h6>Filtrering</h6>
                    <ul>
                        <li>Det går i guit filtrera bort saker från cv:et som inte är aktuellt för det kundcase som man vill skapa cv:et för.</li>
                        <li>Guit har checkboxar på alla de delar som går att filtrera bort.</li>
                        <li>I checkad box betyder att den delen kommer att finnas med i cv:et. Ur checkad box som kommer den delen INTE finnas med i cv:et</li>
                        <li>För att se vad som inte kommer med så syns delen fortfarande i guit men när kan printar cv:et till pdf så syns dom inte.</li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
</div>





