@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content -->
<div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/working.jpg" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <h1 class="font-weight-light">SustainIt<b>CV</b></h1>
            <p>Med SustainIt<b>CV</b> skapar du snabbt och enkelt kompletta CV:n. SustainIt<b>CV</b> skapar färdiga PDF-filer som kan e-postas, skrivas ut eller sparas.</p> 

            
</div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">SustainIt<b>CV</b> används för att administrera våra duktiga konsulters cv:en.</p>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Anställda</h2>
                    <p>Lista anställda, Lägg till nya anställda, ta bort anställda samt visa detaljvy över anställd.</p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index", "Employees")" class="btn btn-primary btn-sm">Se Anställda</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Teknik & Verktyg</h2>
                    <p class="card-text">Lista teknik, Lägg till nya teknik, ta bort teknik samt visa detaljvy över en teknik eller ett verktyg.</p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index", "Techniques")" class="btn btn-primary btn-sm">Lista</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Kompetens matchning</h2>
                    <p class="card-text">Matcha anställda mot kompetensförfrågningar från kund.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Index", "Search")">Kompetensmatchning</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<!-- Footer -->
